In [3]:
!conda install pyarrow
!conda install fastparquet

^C
^C

In [4]:

import pandas as pd

# Path to your Parquet file
parquet_file_path = 'characters.parquet'

# Load the Parquet file into a Pandas DataFrame
df = pd.read_parquet(parquet_file_path)

# Display the first few rows of the DataFrame
print(df.head())

            book_id  character_id  \
0  1023_bleak_house             0
1  1023_bleak_house            25
2  1023_bleak_house           239
3  1023_bleak_house           251
4  1023_bleak_house           253

                                          adjectives  \
0  [thankful, cheerful, sure, gentle, thankful, t...
1                                             [dead]
2  [desolate, sole, many, earthly, active, active...
3  [unwilling, handsome, gone, dear, good, fair, ...
4  [great, happy, magnificent, desirous, sorry, s...

                                 character_start_idx  \
0  [39357, 39357, 55972, 55972, 60670, 60670, 142...
1                                            [95899]
2  [7410, 133644, 133644, 133644, 1219063, 121906...
3  [1123256, 1916636, 1661582, 1659028, 1659028, ...
4  [250198, 871356, 874896, 1436523, 1441368, 144...

                                   character_end_idx
0  [39358, 39358, 55973, 55973, 60671, 60671, 142...
1                                            [95905]
2  [7412, 133657, 133657, 133657, 1219065, 121906...
3  [1123259, 1916661, 1661583, 1659040, 1659040, ...
4  [250227, 871359, 874909, 1436536, 1441369, 144...

In [7]:

import pandas as pd

# Path to your Parquet file
parquet_file_path_2 = 'fashion_mentions.parquet'

# Load the Parquet file into a Pandas DataFrame
df_2 = pd.read_parquet(parquet_file_path_2)

# Display the first few rows of the DataFrame
print(df_2.head())

            book_id  mention_id    term  \
0  1023_bleak_house        9816   dress
1  1023_bleak_house        9817     wig
2  1023_bleak_house        9818    gown
3  1023_bleak_house        9819  bonnet
4  1023_bleak_house        9820    suit

                                            sentence  start_idx  end_idx  \
0  This is the\nCourt of Chancery, which has its ...        250      255
1  There is the registrar below the judge, in wig...         43       46
2  There is the registrar below the judge, in wig...         51       55
3  Standing on\na seat at the side of the hall, t...        133      139
4  Some say\nshe really is, or was, a party to a ...         45       49

   sentence_start_idx  sentence_end_idx                            adjectives  \
0                4702              5601                [slipshod, threadbare]
1                5602              5771                                    []
2                5602              5771                                    []
3                6124              6398  [incomprehensible, old, mad, little]
4                6399              6500                                    []

  character_id
0          769
1          779
2          779
3          787
4          787

In [8]:
df_2

,book_id,mention_id,term,sentence,start_idx,end_idx,sentence_start_idx,sentence_end_idx,adjectives,character_id
0,1023_bleak_house,9816,dress,"This is the\nCourt of Chancery, which has its ...",250,255,4702,5601,"[slipshod, threadbare]",769
1,1023_bleak_house,9817,wig,"There is the registrar below the judge, in wig...",43,46,5602,5771,[],779
2,1023_bleak_house,9818,gown,"There is the registrar below the judge, in wig...",51,55,5602,5771,[],779
3,1023_bleak_house,9819,bonnet,"Standing on\na seat at the side of the hall, t...",133,139,6124,6398,"[incomprehensible, old, mad, little]",787
4,1023_bleak_house,9820,suit,"Some say\nshe really is, or was, a party to a ...",45,49,6399,6500,[],787
...,...,...,...,...,...,...,...,...,...,...
40827,9830_the_beautiful_and_damned,19245,suit,Don't you realize you've won the suit?,33,37,716577,716615,[],None
40828,9830_the_beautiful_and_damned,19246,cap,And\ndoubtless it was listening when the young...,63,66,717521,717654,[young],None
40829,9830_the_beautiful_and_damned,19247,coat,She had on a Russian-sable coat that must\nhav...,27,31,718365,718434,"[Russian, small]",None
40830,9830_the_beautiful_and_damned,19248,cap,"""Sure, I know,"" agreed the man with the plaid ...",46,49,718646,718696,[],None
40831,9830_the_beautiful_and_damned,19249,cap,"""Wonder what he's thinking about--his\nmoney, ...",155,158,718741,718916,[],None

In [9]:
df

,book_id,character_id,adjectives,character_start_idx,character_end_idx
0,1023_bleak_house,0,"[thankful, cheerful, sure, gentle, thankful, t...","[39357, 39357, 55972, 55972, 60670, 60670, 142...","[39358, 39358, 55973, 55973, 60671, 60671, 142..."
1,1023_bleak_house,25,[dead],[95899],[95905]
2,1023_bleak_house,239,"[desolate, sole, many, earthly, active, active...","[7410, 133644, 133644, 133644, 1219063, 121906...","[7412, 133657, 133657, 133657, 1219065, 121906..."
3,1023_bleak_house,251,"[unwilling, handsome, gone, dear, good, fair, ...","[1123256, 1916636, 1661582, 1659028, 1659028, ...","[1123259, 1916661, 1661583, 1659040, 1659040, ..."
4,1023_bleak_house,253,"[great, happy, magnificent, desirous, sorry, s...","[250198, 871356, 874896, 1436523, 1441368, 144...","[250227, 871359, 874909, 1436536, 1441369, 144..."
...,...,...,...,...,...
8004,9830_the_beautiful_and_damned,5487,[many],[371497],[371507]
8005,9830_the_beautiful_and_damned,5538,"[young, young, young]","[574375, 662263, 398012]","[574387, 662275, 398024]"
8006,9830_the_beautiful_and_damned,5542,"[poor, old, old]","[398338, 398338, 398338]","[398352, 398352, 398352]"
8007,9830_the_beautiful_and_damned,5832,"[prosperous, prosperous]","[598170, 598170]","[598188, 598188]"
8008,9830_the_beautiful_and_damned,5833,[poor],[598218],[598229]

In [15]:
df_fashion = df_2
df_character = df


df_character['character_id'] = df_character['character_id'].astype(str)
df_fashion['character_id'] = df_fashion['character_id'].astype(str)



# Group fashion terms by character_id and aggregate into a list
fashion_agg = df_fashion.groupby('character_id')['term'].agg(list).reset_index()

# Merge with your character dataframe
df_combined = df_character.merge(fashion_agg, on='character_id', how='left')

# Optional: Replace NaN with empty list if some characters have no fashion data
df_combined['term'] = df_combined['term'].apply(lambda x: x if isinstance(x, list) else [])

In [16]:
df_combined

,book_id,character_id,adjectives,character_start_idx,character_end_idx,term
0,1023_bleak_house,0,"[thankful, cheerful, sure, gentle, thankful, t...","[39357, 39357, 55972, 55972, 60670, 60670, 142...","[39358, 39358, 55973, 55973, 60671, 60671, 142...","[frock, bonnet, bonnet, dress, dress, hat, shi..."
1,1023_bleak_house,25,[dead],[95899],[95905],"[attire, coat, coat, coat, suit, attire, skirt..."
2,1023_bleak_house,239,"[desolate, sole, many, earthly, active, active...","[7410, 133644, 133644, 133644, 1219063, 121906...","[7412, 133657, 133657, 133657, 1219065, 121906...","[suit, dress, outfit, hat, hat, coat, collar, ..."
3,1023_bleak_house,251,"[unwilling, handsome, gone, dear, good, fair, ...","[1123256, 1916636, 1661582, 1659028, 1659028, ...","[1123259, 1916661, 1661583, 1659040, 1659040, ...","[dress, shawl, fur, shawl, fur, bonnet, veil, ..."
4,1023_bleak_house,253,"[great, happy, magnificent, desirous, sorry, s...","[250198, 871356, 874896, 1436523, 1441368, 144...","[250227, 871359, 874909, 1436536, 1441369, 144...","[grey, shirt, waistcoat, coat, coat, scarf, co..."
...,...,...,...,...,...,...
8004,9830_the_beautiful_and_damned,5487,[many],[371497],[371507],"[hat, clothes]"
8005,9830_the_beautiful_and_damned,5538,"[young, young, young]","[574375, 662263, 398012]","[574387, 662275, 398024]",[pants]
8006,9830_the_beautiful_and_damned,5542,"[poor, old, old]","[398338, 398338, 398338]","[398352, 398352, 398352]","[sack, suit, tie, britches, pants]"
8007,9830_the_beautiful_and_damned,5832,"[prosperous, prosperous]","[598170, 598170]","[598188, 598188]",[coat]
8008,9830_the_beautiful_and_damned,5833,[poor],[598218],[598229],"[hat, coat]"

In [22]:
from collections import Counter
import pandas as pd

co_occurrence = Counter()

for _, row in df_combined.iterrows():
    for term in list(row['term']):
        for adj in row['adjectives']:
            co_occurrence[(term, adj)] += 1

# Convert to DataFrame
co_occurrence_df = pd.DataFrame([
    {'term': t, 'adjective': a, 'count': c}
    for (t, a), c in co_occurrence.items()
])

In [23]:
co_occurrence_df

          term   adjective  count
0        frock    thankful    833
1        frock    cheerful    282
2        frock        sure  17478
3        frock      gentle    274
4        frock        poor   3292
...        ...         ...    ...
285025    sock       naval      3
285026  bonnet       naval      1
285027   black       naval      1
285028   shirt       naval      1
285029  napkin  miraculous      1

[285030 rows x 3 columns]

In [39]:
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'sure']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'glad']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'afraid']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'dear']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'sorry']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'young']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'old']
co_occurrence_df = co_occurrence_df[co_occurrence_df['adjective'] != 'able']

In [40]:
top_adjectives_per_term = (
    co_occurrence_df
    .sort_values(['term', 'count'], ascending=[True, False])
    .groupby('term')
    .head(2)
)

In [41]:
top_adjectives_per_term

                term adjective  count
4896    accoutrement     happy    140
4886    accoutrement      good    126
104654        afghan      good     23
104650        afghan      poor     20
281875        anklet     Chief     67
...              ...       ...    ...
204437        wimple     right      2
14807           wrap     happy    329
14797           wrap      good    298
26401        wrapper     happy    782
26391        wrapper      good    735

[521 rows x 3 columns]

In [ ]:
# [coat, collar, hat, cap, clothes, cap, robe, cap, cap, coat, coat, bowler, hat, washing, clothes, dress, coat, dress, clothes, dress, hat, dress, coat, collar, dress, clothes, coat, coat, hat, hat, waistcoat, coat, cloak, attire, coat, cape, garment, uniform]

#venerable and worthy, bleakhouse

"He is of a worthy presence, with his light-grey hair\
and whiskers, his fine shirt-frill, his pure-white waistcoat, and his\
blue coat with bright buttons always buttoned."


#aristocratic

# [hat, coat, hose, hat, costume, dress, garment, dress, negligee, bloomers, shirt, cap, suit, coat, coat, shirt, suit, pants, tie, hat, shirt, dress, vest, masquerade, clothes, collar, costume, ulster, cap, fur, fur, sweater, flannel, collar, tam, skirt, dress, trunks, clothes, wash, tie, blouse, uniform, cap, coat, sweater, muffler, cap, collar, coat, flannel, shirt, flannel, shimmy, robe, muffler, mitten, petticoat, frock, overcoat, hat, coat, veil, hat, coat, blouse, underwear, dress, uniform, fur, shirt, frock, collar, overcoat, collar, tie, shirt, dress, hat, shirt, suit, vest, coat, derby, shirt, coat, breeches, flannel, shirt, pants, coat, fur, sack, stocking, raiment, cap, fur, blouse, skirt, fur, ...]

#wealthy, prominent

# [hat, bonnet, bonnet, clothes, coat]

#gauzy, little, dirty
#dress, bonnet, dress
###


"He was so much manlier\
than the others; he was an even warm brown, like his new ready-made suit\
with its padded shoulders."

"Oliver's clothes had been torn in the beating he had received; his face\
was bruised and scratched; and his hair scattered over his forehead."


"But he\
wanted money very badly; his clothes were worn out, and the heavy carpets\
rotted his socks and boots; he had almost persuaded himself to take the\
venturesome step when one morning, passing up from breakfast in the\
basement through the passage that led to the manager's office, he saw a\
queue of men waiting in answer to an advertisement."


"She looked across the glass lamp\
at her husband and asked him if the butcher liked his new overcoat, and\
whether he had got the shoulders right in a ready-made suit he was\
patching over for Ray Kennedy."


"Ready-made clothes for girls were not to be had in those days."


"but in cheap motor cars,\
telephones, ready-made clothes, silos, alfalfa, kodaks, phonographs,\
leather-upholstered Morris chairs, bridge-prizes, oil-stocks,\
motion-pictures, land-deals, unread sets of Mark Twain, and a chaste\
version of national politics."


"Trousers with a crease were considered plebeian; the crease proved that\
the garment had lain upon a shelf, and hence was “ready-made”; these\
betraying trousers were called “hand-me-downs,” in allusion to the\
shelf."


"She faced the Greek god who, in a\
somewhat ungodlike way, was stitching a coat on a scaley sewing-machine,\
in a room of smutted plaster walls."

"She interfered with a\
little congregation which Mrs. Kirk had got up and laughed the young\
men away from her sermons, stating that a soldier's wife had no\
business to be a parson--that Mrs. Kirk would be much better mending\
her husband's clothes; and, if the regiment wanted sermons, that she\
had the finest in the world, those of her uncle, the Dean."
#saying she should be mending instead of a parson


"I shall\
send for my clothes when I get to Longbourn; but I wish you would tell\
Sally to mend a great slit in my worked muslin gown before they are\
packed up."
#mending clothing, muslin

"If he could raise five or six\
pounds to buy some second-hand clothes to stock the shop with, they could\
mend them and clean them, and she could look after the women's clothes\
while he did the men's. "
#second-hand


"She had that cream gown on with the rip she never stitched."

"During their first autumn she had smiled over his affection for his\
hunting-coat, but now that the leather had come unstitched in dribbles\
of pale yellow thread, and tatters of canvas, smeared with dirt of the\
fields and grease from gun-cleaning, hung in a border of rags, she hated\
the thing."
#perhaps represented the honeymoon phase of their relationship ending, she realizes his coat is falling apart


"Well!--what have you to say?--is not the Pyncheon House\
my own, while I'm alive?\
After this incident, Hepzibah retreated to the back parlor, where she\
at first caught up a half-finished stocking, and began knitting at it\
with nervous and irregular jerks; but quickly finding herself at odds\
with the stitches, she threw it aside, and walked hurriedly about the\
room."
#frantic stitching to show anxieties

"To find the born and educated lady, on\
the other hand, we need look no farther than Hepzibah, our forlorn old\
maid, in her rustling and rusty silks, with her deeply cherished and\
ridiculous consciousness of long descent, her shadowy claims to\
princely territory, and, in the way of accomplishment, her\
recollections, it may be, of having formerly thrummed on a harpsichord,\
and walked a minuet, and worked an antique tapestry-stitch on her\
sampler."
#educatedf lady doing stitching

"There were opera cloaks stitched of myriad, many-colored silks and furs;\
there were jewels dripping from arms and throats and ear-tips of white\
and rose; there were innumerable broad shimmers down the middles of\
innumerable silk hats; there were shoes of gold and bronze and red and\
shining black; there were the high-piled, tight-packed coiffures of many\
women and the slick, watered hair of well-kept men--most of all there\
was the ebbing, flowing, chattering, chuckling, foaming, slow-rolling\
wave effect of this cheerful sea of people as to-night it poured its\
glittering torrent into the artificial lake of laughter...."
#signs of wealth-- jewelry, silks

"They were most ingeniously arranged, so as to be\
convenient to the hand and not inconvenient to the body, and were so\
placed as at once to strengthen the garment and add decorative lines of\
stitching."
#strategic and careful hand stitching

"While I sat thus, looking at the fire, and seeing pictures in the\
red-hot coals, I almost believed that I had never been away; that Mr.\
and Miss Murdstone were such pictures, and would vanish when the fire\
got low; and that there was nothing real in all that I remembered, save\
my mother, Peggotty, and I.\
Peggotty darned away at a stocking as long as she could see, and then\
sat with it drawn on her left hand like a glove, and her needle in her\
right, ready to take another stitch whenever there was a blaze."

#family and sisterhood?


"You have only that puffy muslin dress on--how's that?\
It's my best summer one.  "

#Tess of the Duvervilles... is it about lust/promiscuity or something?

"Of her daughters,\
the eldest, Amy, was rather little: naive, and child-like in face and\
manner, and piquant in form; her white muslin dress and blue sash became\
her well."

'Her eyes were blue; and her hair, which was light brown,\
was slightly confined under a plain muslin cap, tied round with a black\
ribbon; a white linen gown and plain lawn handkerchief composed\
the remainder of her dress; and in this simple attire, she was more\
irresistibly charming to such a heart as Temple’s, than she would have\
been, if adorned with all the splendor of a courtly belle.''

#simple attire

"She had her new dress on, and though it was only white\
muslin like other people's, it gave her the air of a priestess inspired\
by some approaching crisis, and sweeping forward upon the victim who\
was ready to be sacrificed."

#religious metaphors

"His\
unglazed linen collar appeared behind his bent head, soiled by his\
withering hair."

#constrasting clothing and appearance

"So Dick bade good-by to fine\
suits of clothes and linen with a feeling that, as he had said farewell\
to an idle and useless past, it was just as well not to have any old\
luxuries as reminders. "


"Jo in maroon, with a stiff, gentlemanly linen collar, and a white\
chrysanthemum or two for her only ornament."
#presenting Jo as a more masculine/untraditional

"The daring black chemise of frail chiffon\
and lace was a hussy at which the deep-bosomed bed stiffened in disgust,\
and she hurled it into a bureau drawer, hid it beneath a sensible linen\
blouse."

#sensible linen blouse vsd promiscous "hussy"

In [43]:
df_2.to_csv('df_2.csv')